<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.moutamid.gb" >

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GBPlusVersion"
        tools:targetApi="31" >
        <activity
            android:name="com.moutamid.gb.activities.StattusActivity"
            android:exported="false" />
        <activity
            android:name="com.moutamid.gb.activities.VideopPlayerActivity"
            android:exported="false" />
        <activity
            android:name="com.moutamid.gb.activities.PreviiewActivity"
            android:exported="false" />
        <activity
            android:name="com.moutamid.gb.activities.MyyStatusActivity"
            android:exported="false" />
        <activity
            android:name="com.moutamid.gb.activities.TexttEmojiActivity"
            android:exported="false" />
        <activity
            android:name="com.moutamid.gb.activities.EmmotionsActivity"
            android:exported="false" />
        <activity
            android:name="com.moutamid.gb.activities.TextmMagicActivity"
            android:exported="false" />
        <activity
            android:name="com.moutamid.gb.activities.CapptionsActivity"
            android:exported="false" />
        <activity
            android:name="com.moutamid.gb.activities.CcaptionsListActivity"
            android:exported="false" />
        <activity
            android:name="com.moutamid.gb.activities.TextrRepeaterActivity"
            android:exported="false" />
        <activity
            android:name="com.moutamid.gb.activities.BlankMesssagesActivity"
            android:exported="false" />
        <activity
            android:name="com.moutamid.gb.activities.DireectChatActivity"
            android:exported="false" />
        <activity
            android:name="com.moutamid.gb.activities.SpllashScreenActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.moutamid.gb.activities.MainActivity"
            android:exported="false" />
    </application>

</manifest>